<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaOdywbPRwVKhr_uwLjk6IkqcdIttefrc</string>
	<key>GCM_SENDER_ID</key>
	<string>463798038207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.researchMantraOfficial</string>
	<key>PROJECT_ID</key>
	<string>researchmantraofficial-80bcf</string>
	<key>STORAGE_BUCKET</key>
	<string>researchmantraofficial-80bcf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463798038207:ios:c235e22cb0d8200afda00a</string>
</dict>
</plist>